#footerMainCont {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  display: block;
  background-color: rgb(14, 26, 53);
  text-align: center;
  color: #e6e4e4;
  border-top: 3px solid #b7c3ca;
  padding: 50px 30px;
  margin-top: 50px;

  line-height: 1.8;
}
