@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poiret+One&display=swap");

#bgContainer {
  background-color: rgb(245, 245, 245);

  box-shadow: 2px 2x 2x 2px rgb(225, 233, 232);
}
#mainGrid {
  display: flex;
  flex-wrap: wrap-reverse;
}
@media (min-width: 700px) {
  .mainTextContainer {
    transform: translateX(-40px);
  }
}

#navbarSupportedContent > a:nth-child(3) > button {
  border-radius: 20px;
  border: 2px solid rgb(48, 18, 128);
  box-shadow: 1px 1px 1px 1px rgb(238, 238, 238);
  color: black;
  background-color: rgba(247, 247, 247, 0.959);
  &:hover {
    background-color: rgb(48, 18, 128);
    color: white;
  }
}
#login {
  border: none;
  border-radius: 20px;
  font-weight: bold;
}

#maintitle {
  color: red;
}
#logo {
  img {
    max-height: 55px;
    transform: scale(1.2);
    max-width: 120px;
    &:hover {
      cursor: pointer;
    }
  }
}
