.EditorContainer {
}
.selectContainer {
  margin-bottom: 20px;
  width: 31%;
}
.problemMainDiv {
}
.EditorTextCont {
  display: grid;
  grid-template-columns: 30% auto auto;
  overflow: hidden;
}
@media (max-width: 600px) {
  .EditorTextCont {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }
}
