@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap");

form {
  font-family: "Baloo Tamma 2", cursive;
}
@media only screen and (min-width: 800px) {
  .container1 {
    margin-top: 40px;
    border-radius: 10px;
    border: rgb(228, 229, 231) solid 0.1mm;
    width: 65%;
    height: 400px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 4px 14px 4px rgb(235, 237, 247);
  }
}

#root > div > div.text-center.mt-3 > svg > circle {
  fill: rgb(73, 143, 212);
}
#root > div > div.text-center.mt-3 > svg {
  cursor: pointer;
}
#btnSignup {
  width: 106px;
  height: 37px;
  padding-right: 27px;
}
