@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap");

form {
  font-family: "Baloo Tamma 2", cursive;
}
@media only screen and (min-width: 800px) {
  .container1 {
    margin-top: 40px;
    border-radius: 10px;
    border: rgb(191, 194, 196) solid 0.1mm;
    width: 65%;
    height: 430px;
    margin: auto;
    background-color: rgb(247, 247, 247);
    box-shadow: 5px 4px 14px 3px rgb(216, 216, 219);
  }
}

#root > div > div.text-center.mt-3 > svg > circle {
  fill: rgb(73, 143, 212);
}
#root > div > div.text-center.mt-3 > svg {
  cursor: pointer;
}
#btnSignup {
  width: 106px;
  height: 37px;
  padding-right: 27px;
}

input {
  background-color: purple;
}
#root > div > div:nth-child(2) > div > div.row.mt-3 > form > input {
  border: 1px #495057;
  background-color: rgb(241, 241, 241);
  &:focus {
    border-left: rgb(156, 128, 240) solid 3px;
  }
}
#root > div > div:nth-child(2) > div > div.row.mt-2 > form > input {
  border: 1px #495753;
  background-color: rgb(241, 241, 241);

  &:focus {
    border-left: rgb(128, 145, 240) solid 3px;
  }
}
.loginSignup {
  overflow: hidden;
}
